<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.datasource">java:/pesrona/ds</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
        <property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.archive.autodetection">class</property>
        <mapping class="pesrona.model.User" />
        <mapping class="pesrona.model.Role" />
        <mapping class="pesrona.model.Client" />
        <mapping class="pesrona.model.Resource" />
        <mapping class="pesrona.model.Scope" />
        <mapping class="pesrona.model.Assignment" />
        <mapping class="pesrona.model.Permission" />
        <mapping class="pesrona.model.Setting" />
    </session-factory>
</hibernate-configuration>